include ../mixins.jade

div.container-fluid.page-tabs-row.page-tabs-overview.section-bottom-border.visible-xs-inline-block
  div.container
    div.row
      div.col-md-8.col-md-offset-2
        h3 Financial Services
        p Find the Best Investments in Less Time

div.container-fluid.page-tabs-row.section-bottom-border
  div.container
    div.row
      div.col-md-5.text-center
        img(src='/img/who-benefits/investors/radar.png',height='250px',alt='Radar icon')
      div.col-md-5.col-md-offset-1
        h3 Discover companies flying under the radar
        p DataFox sifts through thousands of news sources to discover 750 new investment opportunities every day. Build an industry or competitor list in seconds, and receive notifications when new companies meet your criteria. Companies enter our database even before they’ve raised money, so you’ll be the first to know.


div.container-fluid.page-tabs-row.section-bottom-border
  div.container
    div.row.even-tabs-row
      div.col-md-5.text-center.col-md-offset-1
        img.img-side(src='/img/who-benefits/microphone.svg',height='250px', alt='Screenshot of Conference lists in DataFox')
      div.col-md-5
        h3 Prioritize conferences to attend
        p Search over 1,500 conferences by keyword, location, and date, and filter participants by revenue, location, fundraising stage, and over 30 other data points. DataFox integrates with Salesforce to show which of your tracked companies are participating in any event, and provides contact information for key executives.
        p
          +trialButton('who-benefits-confs')

div.container-fluid.page-tabs-row
  div.container
    div.row
      div.col-md-5.text-center
        img(src='/img/who-benefits/investors/cloud-lock.svg',height='250px', alt='Lock icon with a cloud')
      div.col-md-5.col-md-offset-1
        h3 The information you need, all in one place
        p In addition to investor, competitor, sector and company information, our predictive algorithms identify companies poised for growth. We aggregate and automatically refresh our company data, so you don’t have to spend hours searching through Google or running Vlookups. DataFox takes the grunt work out of researching and evaluating your target companies.
