div.pbn.image-cell
	img(src="/img/use-case/slideshow/3.5.png", alt="Deliver reps company alerts by territory")
	h2
		|Deliver reps company alerts by territory
	p Alert reps to valuable buying behavior in their territories. Chose from 68 of DataFox's categorized signals or customize your own.
	h2.blog-btn
		a.btn.btn-bordered.active(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0);", data-location="sales-operation")
			h3
				strong Learn More
		a.btn.btn-bordered(href='#sales-stack', data-location="sales-operations",arial-control='sales-stack',role='tab',data-toggle='tab') 
			h3
				stron Next