div.pbn.image-cell
	div.section-blog
		img(src="/img/use-case/slideshow/3.1.png", alt="Get a detailed look at your data's health")
		h2
			|Get a detailed look at your data's health
		p Compare the health of your database to others in the industry and receive personalized data recommendations from analysts.
		h2.blog-btn
			a.btn.btn-bordered.active(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0);", data-location="sales-operation")
				h3.data-health
					strong Request Data Report
			a.btn.btn-bordered(href='#database', data-location="sales-operations",arial-controls='database',role='tab',data-toggle='tab') 
				h3
					stron Next