div.pbn.image-cell
	div.section-blog
		img(src="/img/use-case/slideshow/3.2.png", alt="Clean and enrich your entire database")
		h2
			|Clean and enrich your entire database
		p Give marketing and sales teams the data foundation needed to succeed by cleaning and enriching your database.
		img.rainforest(src="/img/use-case/customer-quotes/Layer-71.png")
		p.text-rainforest "Accurate account data is critical to the success of any account-based strategy for territory planning, lead enrichment, and distribution. We use DataFox as a source of truth because the accuracy of their headcount and technology stack information."
		h3.quoter
			img(src="/img/use-case/customer-quotes/david.png")
			| David Aguilar, Director of Sales Ops at Invoca
		h2.blog-btn
			a.btn.btn-bordered.active(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0);", data-location="sales-operation")
				h3
					strong Learn More
			a.btn.btn-bordered(href='#update', data-location="sales-operations",arial-control='update',role='tab',data-toggle='tab') 
				h3
					stron Next