div.pbn.image-cell
	div.section-blog
		img(src="/img/use-case/slideshow/actionable.png", alt="Integrate DataFox with your sales stack")
		h2
			|Integrate DataFox with your sales stack
		p Access DataFox insights where they are most actionable such as Salesforce or Slack.
		h2.blog-btn
			a.btn.btn-bordered.active(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0);", data-location="sales-operation")
				h3
					strong Learn More
			a.btn.btn-bordered(href='#data-health', data-location="sales-operations", aria-controls='data-health',role='tab',data-toggle='tab') 
				h3
					stron Next