#from-the-web.jumpto
#from-the-web-section.section
  .container
    .row
      .text-center
        h2.section-header.caps
          | From the web
    .row
      .col-md-3
        blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
          p(lang='en', dir='ltr')
            | At
            a(href='https://twitter.com/ArborAdvisorsIB') @ArborAdvisorsIB
            | , we just signed on with
            a(href='https://twitter.com/datafoxco') @datafoxco
            | ! great prezi by
            a(href='https://twitter.com/bastiaanjanmaat') @bastiaanjanmaat
            |  &amp; team.
          | &mdash; John Glasgow (@j_glasgow)
          a(href='https://twitter.com/j_glasgow/status/576437004847566848') March 13, 2015
      .col-md-3
        blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
          p(lang='en', dir='ltr')
            | &quot;I lived in excel as an analyst.&quot; - haha the pain is shared. Blown away by biz intelligence/dynamic info updating from
            a(href='https://twitter.com/datafoxco') @datafoxco
            a(href='https://twitter.com/hashtag/MWC2015?src=hash') #MWC2015
          | &mdash; Austin Hay (@AustinAHay)
          a(href='https://twitter.com/AustinAHay/status/573156579350056960') March 4, 2015
      .col-md-3
        blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
          p(lang='en', dir='ltr')
            | The next generation of financial services data and analytics
            a(href='https://twitter.com/datafoxco') @datafoxco
            a(href='https://twitter.com/hashtag/fintech?src=hash') #fintech
            a(href='https://twitter.com/hashtag/bigdata?src=hash') #bigdata
            a(href='https://twitter.com/hashtag/machinelearning?src=hash') #machinelearning
            a(href='http://t.co/VKgZFCrTqC') http://t.co/VKgZFCrTqC
          | &mdash; ReubenLevy (@Reuben_007)
          a(href='https://twitter.com/Reuben_007/status/567385431231447040') February 16, 2015
      .col-md-3
        blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
          p(lang='en', dir='ltr')
            a(href='https://twitter.com/datafoxco') @datafoxco
            |  now alerts you to business opportunities you might not find on your own
            a(href='http://t.co/sHpBzLDeFC') http://t.co/sHpBzLDeFC
            |  by
            a(href='https://twitter.com/jordannovet') @jordannovet
          | &mdash; Tim Udinski (@TimUdinski)
          a(href='https://twitter.com/TimUdinski/status/560261292477267968') January 28, 2015

    div.text-center.hidden-xs
      a.more-twitter-link(href="#more-twitter", data-toggle="collapse")
        span.fa.fa-angle-down

    div.collapse#more-twitter
      .row.hidden-xs.hidden-sm
        .col-md-3
          blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
            p(lang='en', dir='ltr')
              | Love using
              a(href='https://twitter.com/datafoxco') @datafoxco
              |  for my tech articles + angel investing. Vote for them on
              a(href='https://twitter.com/ProductHunt') @ProductHunt
              | !
              a(href='http://t.co/Ij87sNSQjU') http://t.co/Ij87sNSQjU
            | &mdash; Shelli Trung (@ShelliTrung)
            a(href='https://twitter.com/ShelliTrung/status/542413340564135937') December 9, 2014
        .col-md-3
          blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
            p(lang='en', dir='ltr')
              | The
              a(href='https://twitter.com/datafoxco') @datafoxco
              |  app is a smart way to follow a bunch of interesting companies.
              a(href='http://t.co/FFq80r24KD') pic.twitter.com/FFq80r24KD
            | &mdash; Paul Watson (@paulmwatson)
            a(href='https://twitter.com/paulmwatson/status/542415098732503040') December 9, 2014
        .col-md-3
          blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
            p(lang='en', dir='ltr')
              | Added
              a(href='https://twitter.com/datafoxco') @datafoxco
              |  to my home screen. Perfect resource before your call or meeting with a private co
              a(href='http://t.co/DdHR15UzLD') pic.twitter.com/DdHR15UzLD
            | &mdash; Cynthia Houlton (@CynthiaHoulton)
            a(href='https://twitter.com/CynthiaHoulton/status/542403910686621697') December 9, 2014
        .col-md-3
          blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
            p(lang='en', dir='ltr')
              | Super excited for the
              a(href='https://twitter.com/datafoxco') @datafoxco
              |  team and their iPhone app release! Great tool for researching companies on the go.
              a(href='http://t.co/njfhJ4cXMs') http://t.co/njfhJ4cXMs
            | &mdash; Leo Polovets (@lpolovets)
            a(href='https://twitter.com/lpolovets/status/542398865098702848') December 9, 2014
      .row.hidden-xs.hidden-sm
        .col-md-3
          blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
            p(lang='en', dir='ltr')
              a(href='https://twitter.com/startupdaily_au') @startupdaily_au
              |  met the
              a(href='https://twitter.com/datafoxco') @datafoxco
              |  guys at TC Disrupt. It&apos;s a fantastic product, really worth a try.
            | &mdash; Fishburners (@Fishburners)
            a(href='https://twitter.com/Fishburners/status/534178347580784640') November 17, 2014
        .col-md-3
          blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
            p(lang='en', dir='ltr')
              | Good pts&gt; Artificial intelligence is now affordable. Use it to work&nbsp;smarter
              a(href='http://t.co/O1oyJ9AbGc') http://t.co/O1oyJ9AbGc
              |  by
              a(href='https://twitter.com/bastiaanjanmaat') @bastiaanjanmaat
              |  of
              a(href='https://twitter.com/datafoxco') @datafoxco
            | &mdash; Jordan Novet (@jordannovet)
            a(href='https://twitter.com/jordannovet/status/528231177631444993') October 31, 2014
        .col-md-3
          blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
            p(lang='en', dir='ltr')
              | I got a demo of company research platform
              a(href='https://twitter.com/datafoxco') @datafoxco
              |  today &amp; was impressed. Lots of faceted metadata, good news discovery. Nice.
            | &mdash; Marshall Kirkpatrick (@marshallk)
            a(href='https://twitter.com/marshallk/status/527200756542492673') October 28, 2014
        .col-md-3
          blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
            p(lang='en', dir='ltr')
              | Really love what
              a(href='https://twitter.com/datafoxco') @datafoxco
              |  is doing.
              a(href='http://t.co/i0v4OZVG4o') http://t.co/i0v4OZVG4o
            | &mdash; Joey Muller (@jmthefourth)
            a(href='https://twitter.com/jmthefourth/status/511932458968023040') September 16, 2014
      .row.hidden-xs.hidden-sm
        .col-md-3
          blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
            p(lang='en', dir='ltr')
              | So I&apos;m almost afraid that by sharing, I&apos;ll lose my edge, but
              a(href='https://twitter.com/datafoxco') @datafoxco
              |  seriously is one of the best CI tools out there right now. Amazing.
            | &mdash; Knowligence, LLC (@knowligenceinfo)
            a(href='https://twitter.com/knowligenceinfo/status/514188606949167104') September 22, 2014
        .col-md-3
          blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
            p(lang='en', dir='ltr')
              | New app on my phone&apos;s front page: DataFox. Discover/track companies &amp; related news .
              a(href='https://twitter.com/datafoxco') @datafoxco
              a(href='http://t.co/IsuhD5P6Eu') http://t.co/IsuhD5P6Eu
              a(href='http://t.co/MXmqrI2xhF') pic.twitter.com/MXmqrI2xhF
            | &mdash; Dave Munichiello (@davemuni)
            a(href='https://twitter.com/davemuni/status/535940864187461632') November 21, 2014
        .col-md-3
          blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
            p(lang='en', dir='ltr')
              | .
              a(href='https://twitter.com/datafoxco') @datafoxco
              |  from
              a(href='https://twitter.com/StartX') @StartX
              |  nails it! Smart data about private companies via killer algorithms.
              a(href='https://twitter.com/hashtag/TCDisrupt?src=hash') #TCDisrupt
            | &mdash; Alexa Lee (@xo)
            a(href='https://twitter.com/xo/status/509465457665900544') September 9, 2014
        .col-md-3
          blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
            p(lang='en', dir='ltr')
              | Looking for the fastest growing tech co&apos;s? Try
              a(href='https://twitter.com/datafoxco') @datafoxco
              | ; the automation of private co. diligence, (I use it)
              a(href='http://t.co/h7ql5nQDpE') http://t.co/h7ql5nQDpE
              a(href='https://twitter.com/search?q=%24study&src=ctag') $study
            | &mdash; howardlindzon (@howardlindzon)
            a(href='https://twitter.com/howardlindzon/status/466678621042913281') May 14, 2014


    script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')



        //- Inactive quotes

        //- .col-md-3
        //-   blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
        //-     p(lang='en', dir='ltr')
        //-       | Don&apos;t mess with
        //-       a(href='https://twitter.com/datafoxco') @datafoxco
        //-       a(href='https://twitter.com/hashtag/crushingIt?src=hash') #crushingIt
        //-       a(href='http://t.co/DIKjfS8icM') http://t.co/DIKjfS8icM
        //-     | &mdash; Andrew Bellay (@AndrewBellay)
        //-     a(href='https://twitter.com/AndrewBellay/status/559882474272993280') January 27, 2015
        //- .col-md-3
        //-   blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
        //-     p(lang='en', dir='ltr')
        //-       | Hey
        //-       a(href='https://twitter.com/datafoxco') @datafoxco
        //-       |  you guys got a shootout at
        //-       a(href='https://twitter.com/hashtag/AIIP15?src=hash') #AIIP15
        //-       |  ! they love your taxonomy and search. Wish you guys were here.
        //-     | &mdash; Carey Lening (@techlawmaven)
        //-     a(href='https://twitter.com/techlawmaven/status/589133499564576768') April 17, 2015
        //- .col-md-3
        //-   blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
        //-     p(lang='en', dir='ltr')
        //-       a(href='https://twitter.com/datafoxco')
        //-         | @datafoxco
        //-       |  conference navigator is brilliant...wonder when
        //-       a(href='https://twitter.com/NASSCOM_Product') @NASSCOM_Product
        //-       |  will get something close, events are still hit/miss
        //-     | &mdash; Murali (@lmuralid)
        //-     a(href='https://twitter.com/lmuralid/status/584942879115612160') April 6, 2015
        //- .col-md-3
        //-   blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
        //-     p(lang='en', dir='ltr')
        //-       | Really loving
        //-       a(href='https://twitter.com/datafoxco') @datafoxco
        //-       |  for help researching various companies. Great tool for BD, sales etc.
        //-     | &mdash; Nathaniel Emodi (@natemodi)
        //-     a(href='https://twitter.com/natemodi/status/518044785429737472') October 3, 2014
        //- .col-md-3
        //-   blockquote.twitter-tweet(data-cards='hidden', data-conversation='none', lang='en')
        //-     p(lang='en', dir='ltr')
        //-       | Very cool
        //-       a(href='https://twitter.com/hashtag/startup?src=hash') #startup
        //-       | :
        //-       a(href='https://twitter.com/hashtag/DataFox?src=hash') #DataFox
        //-       |  leverages
        //-       a(href='https://twitter.com/hashtag/bigdata?src=hash') #bigdata
        //-       |  to provide comprehensive insight on the oft mysterious private company landscape
        //-       a(href='https://twitter.com/datafoxco') @datafoxco
        //-     | &mdash; Evan LeBon (@evan_lebon)
        //-     a(href='https://twitter.com/evan_lebon/status/473533484792029184') June 2, 2014
