include mixins.jade

div.container-fluid.sub-footer
  div.container
    div.row
      div.col-md
        h2
          strong Ditch the grunt work.
        p Get started with intelligent account-based prospecting.
        p
          +trialButton('subfooter')