div.container-fluid.sub-footer
  div.container
    div.row
      div.col-md-9
        h2 Don't see the job you wanted listed?&nbsp;
          small Describe what you can do for us in an email!
      div.col-md-3.action
        a.btn.btn-primary.btn-full(href='mailto:recruiting@datafox.com') Email Us Now