#what-people-say.jumpto
#what-people-say-section.section
  .container
    .row
      .text-center
        .section-header.caps In the news

    .row
      .col-sm-4
        a(href='http://blogs.wsj.com/venturecapital/2014/02/03/the-daily-startup-google-ventures-backs-datafox-to-help-find-investable-companies/', target='_blank')
          .media-img
            img.press-img(src='img/press/wsj.png')
          .media-quote
            small
              i.fa.fa-quote-left
            span
              | &nbsp;Google Ventures backs DataFox to build out its online research platform for finding investable private companies.&nbsp;
            small
              i.fa.fa-quote-right
      .col-sm-4
        a(href='http://video.foxbusiness.com/v/3668062736001/reformed-banker-creates-data-platform-that-tracks-private-companies', target='_blank')
          .media-img
            img.press-img(src='img/press/fox-business.png')
          .media-quote
            small
              i.fa.fa-quote-left
            span
              | &nbsp;Introducing Wall Street to DataFox's platform for private company growth and performance.&nbsp;
            small
              i.fa.fa-quote-right
      .col-sm-4
        a(href='http://video.cnbc.com/gallery/?video=3000291312', target='_blank')
          .media-img
            img.press-img(src='img/press/cnbc.png')
          .media-quote
            small
              i.fa.fa-quote-left
            span
              | &nbsp;DataFox is shaking up the world of big data by offering research to investors of all types and sizes at affordable prices.&nbsp;
            small
              i.fa.fa-quote-right
    .row.mtl.hidden-xs.hidden-sm
      .col-sm-4
        a(href='http://techcrunch.com/2014/09/09/datafox-offers-predictive-intelligence-as-a-service-enabling-better-investment-decisions/', target='_blank')
          .media-img
            img.press-img(src='img/press/tech-crunch.png')
          .media-quote
            small
              i.fa.fa-quote-left
            span
              | &nbsp;DataFox Offers Predictive Intelligence-As-A-Service, Enabling Better Investment Decisions.&nbsp;
            small
              i.fa.fa-quote-right
      .col-sm-4
        a(href='http://www.wallstreetandtech.com/asset-management/using-artificial-intelligence-to-uncover-non-public-company-data-/d/d-id/1315775', target='_blank')
          .media-img
            img.press-img(src='img/press/wallstreet-and-technology.png')
          .media-quote
            small
              i.fa.fa-quote-left
            span
              | &nbsp;Using Artificial Intelligence to Uncover Non-Public Company Data&nbsp;
            small
              i.fa.fa-quote-right
      .col-sm-4
        a(href='http://www.bloomberg.com/video/here-s-how-to-rank-private-companies-using-big-data-GLCxgyCbQcSHsqbqIxuJxw.html', target='_blank')
          .media-img
            img.press-img(src='img/press/bloomberg.png')
          .media-quote
            small
              i.fa.fa-quote-left
            span
              | &nbsp;DataFox uses big data to rank private companies and automate the repeatable parts of an analyst's job.&nbsp;
            small
              i.fa.fa-quote-right