div.pbn.image-cell
	div.section-blog
		img(src="/img/use-case/slideshow/face-to.png", alt="Set more face-to-face meetings")
		h2
			|Set more face-to-face meetings
		p Find out which conferences your prospects are participating in so you can get more face time.
		img.rainforest(src="/img/use-case/customer-quotes/Layer-72.png")
		p.text-rainforest "DataFox helped me discover that a prospect was attending an event. I connected with them on-site and ended up signing them as a customer. This happened three weeks after we bought DataFox."
		h3.quoter
			img(src="/img/use-case/customer-quotes/david.png")
			| Dasha Vasilyevich, Sales Development Manager
		h2.blog-btn
			a.btn.btn-bordered.active(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0);", data-location="sales-operation")
				h3
					strong Learn More
			a.btn.btn-bordered(href='#updating', data-location="account-management",arial-control='updating',role='tab',data-toggle='tab') 
				h3
					stron Next