div.pbn.image-cell
	div.section-blog
		img(src="/img/use-case/slideshow/actionable.png", alt="Get insights where they are actionable")
		h2
			|Get insights where they are actionable
		p Inside of Salesforce, Chrome, Gmail, Slack, APIs
		h2.blog-btn
			a.btn.btn-bordered.active(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0);", data-location="sales-operation")
				h3
					strong Learn More
			a.btn.btn-bordered(href='#top', data-location="account-management", aria-controls='top',role='tab',data-toggle='tab') 
				h3
					stron Next