div.pbn.image-cell
	div.section-blog
		img(src="/img/use-case/slideshow/2.2.png", alt="Prioritize accounts with new opportunities")
		h2
			|Prioritize accounts with new opportunities
		p DataFox is the first platform that enables you to receive alerts on verified buying signals based on an account's status in Salesforce.
		h2.blog-btn
			a.btn.btn-bordered.active(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0);", data-location="sales-operation")
				h3
					strong Learn More
			a.btn.btn-bordered(href='#pre-call', data-location="account-management",arial-control='pre-call',role='tab',data-toggle='tab') 
				h3
					stron Next