div.pbn.image-cell
	div.section-blog
		img(src="/img/use-case/slideshow/2.3.png", alt="Complete pre-call research in minutes")
		h2
			|Complete pre-call research in minutes
		p Salespeople spend an average of 11 minutes on pre-call or presentation research. DataFox reduces research to 3 minutes with detailed company profiles.
		h2.blog-btn
			a.btn.btn-bordered.active(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0);", data-location="sales-operation")
				h3
					strong Learn More
			a.btn.btn-bordered(href='#face-meeting1', data-location="account-management",arial-controls='face-meeting1',role='tab',data-toggle='tab') 
				h3
					stron Next