div.pbn.image-cell
	div.section-blog
		img(src="/img/use-case/slideshow/2.1.png", alt="Stay engaged with top accounts")
		h2
			|Stay engaged with top accounts
		p Easily monitor current prospects and customers with company signals and DataFox's unique conference participant intelligence.
		h2.blog-btn
			a.btn.btn-bordered.active(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0);", data-location="sales-operation")
				h3
					strong Learn More
			a.btn.btn-bordered(href='#new-priority', data-location="account-management",arial-controls='new-priority',role='tab',data-toggle='tab') 
				h3
					stron Next