div.pbn.image-cell
	img(src="/img/use-case/slideshow/2.5.png", alt="Stop manually updating Salesforce fields")
	h2
		|Stop manually updating Salesforce fields
	p Trust DataFox to automatically fill in and refresh Salesforce with verified account fields on leads, contacts, and accounts.
	h2.blog-btn
		a.btn.btn-bordered.active(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0);", data-location="sales-operation")
			h3
				strong Learn More
		a.btn.btn-bordered(href='#graph1', data-location="account-management",arial-control='graph1',role='tab',data-toggle='tab') 
			h3
				stron Next