div.container-fluid.enrich-page

  div.header-section
    h2 Database Management for Account-Based Everything
    h4.text-muted.mtxl Redefine how your organization finds and manages important account data with DataFox.
    div.mtxl.ptl
      img(src="/img/product/enrich/macbook.jpg")


  div.section
    div.row.vertical-align
      div.col-md-6.col-xs-12.bg-blurred1.col-xs-12
        div.image-cell.text-right
          img(src="/img/product/enrich/data_report.png", alt="Data Integrity Report")

      div.col-md-5.col-md-offset-1.col-xs-12
        div.text-cell
          h2 See a full picture of your data's health
          p A comprehensive data health report tells you how your data compares to our squeaky-clean, proprietary dataset.

          div.mtl
            a.trial-btn.btn.btn-primary.btn-block.btn-full(data-toggle="modal", data-target=".data-health-report-modal", href="javascript:void(0)", data-location='request-data-health-report') Request Data Health Report


  div.section
    div.container
      div.row.vertical-align
        div.col-xs-12.visible-xs-and-sm
          div.image-cell
            img(src="/img/product/enrich/data_issues.jpg", alt="Data Issues Resolved")

        div.col-md-6.col-xs-12
          div.text-cell
            h2 Expertly resolve data issues
            p DataFox data experts will work with you to determine personalized resolutions to bad data.
            div.mtxl
              div.mbl
                img(src="/img/product/enrich/invoca_logo.jpg", alt="Invoca Logo")
              p
                em “We use DataFox as our source of truth because their headcount and technology stack information is dead-on.”

              div.quote
                div.img
                  img(src="/img/product/enrich/david_aguilar.png", alt="David Aguilar", width=30, height=30)
                div.title
                  em David Aguilar, Director of Sales Ops at Invoca

        div.col-md-6.col-xs-12.hidden-xs-and-sm
          div.image-cell
            img(src="/img/product/enrich/data_issues.jpg", alt="Data Issues Resolved")

  div.section
    div.row.vertical-align
      div.col-md-6.col-xs-12.bg-blurred2
        div.image-cell.text-right
          img(src="/img/product/enrich/enrich.png", alt="Data Integrity Report")

      div.col-md-5.col-md-offset-1.col-xs-12
        div.text-cell
          h2 Enrich leads and accounts
          p Get 40+ verified company data points on leads, contacts, and accounts in your database.

          div.mtl
            a.trial-btn.btn.btn-primary.btn-block.btn-full(data-toggle="modal", data-target=".marketo-modal", href="javascript:void(0)", data-location='request-marketo-webhook') Get the Marketo Webhook

  div.section
    div.container
      div.row.vertical-align
        div.col-xs-12.visible-xs-and-sm
          div.image-cell
            img(src="/img/product/enrich/sync.jpg", alt="DataFox Salesforce Sync")

        div.col-md-6.col-xs-12
          div.text-cell
            h2 Refresh data as needed
            p Download DataFox insights to your database as needed or have changes automatically pushed to reportable CRM fields daily.


        div.col-md-6.hidden-xs-and-sm
          div.image-cell
            img(src="/img/product/enrich/sync.jpg", alt="DataFox Salesforce Sync")


  div.section
    div.row.vertical-align
      div.col-md-6.col-xs-12.bg-experts
        div.image-cell

      div.col-md-5.col-md-offset-1.col-xs-12
        div.text-cell
          h2 Execute custom data projects
          p We specialize in finding and organizing data. Let DataFox handle your next custom data project.



  div.subfooter
    h2 Stop manually updating prospect fields.
    p.mtl Let DataFox manage your account data.
    div.mtxl
      a.trial-btn.btn.btn-primary.btn-full(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0)", data-location='enrich-subfooter') Schedule a Demo
