div.container-fluid.signals-page

  div.header-section
    h2 The Only Platform Built For Account-Based Prospecting
    h4.text-muted.mtxl The company data, contact details, and signals you need to prospect effectively &mdash; all in one powerful platform.


    div.mtxl.ptl.mbxl
      img(src="/img/product/prospect/search.jpg", alt="Prospect using advanced filtering").hidden-xs
      img(src="/img/product/prospect/search_small.jpg", alt="Prospect using advanced filtering").visible-xs

  div.section.mtxl
    div.row.vertical-align
      div.col-md-6.col-xs-12.bg-blurred3.col-xs-12
        div.image-cell.text-right.align-middle-outer
          div.align-middle
            img(src="/img/product/prospect/filters.png", alt="DataFox filtering interface")

      div.col-md-5.col-md-offset-1.col-xs-12
        div.text-cell
          h2 Find prospects using ideal customer profiles
          p Filter over a million companies by 40+ defined dimensions or create your own boolean search.

  div.section
    div.container
      div.row.vertical-align
        div.col-xs-12.visible-xs-and-sm
          div.image-cell
            img(src="/img/product/prospect/lists.jpg", alt="Pre-built lists in DataFox")

        div.col-md-6.col-xs-12
          div.text-cell
            h2 Leverage 10,000+ pre-built lists
            p Lists such as the Inc 5000 and the Deloitte Fast 500 come fully populated with account and contact information.

        div.col-md-6.col-xs-12.hidden-xs-and-sm
          div.image-cell
            img(src="/img/product/prospect/lists.jpg", alt="Pre-built lists in DataFox")

  div.section
    div.row.vertical-align
      div.col-md-6.col-xs-12.bg-blurred2
        div.image-cell.text-right
          img(src="/img/product/prospect/salesforce_filter.png", alt="DataFox filtering interface")

      div.col-md-5.col-md-offset-1.col-xs-12
        div.text-cell
          h2 Filter out known prospects and customers
          p Find truly new prospects by connecting your CRM and filtering out the accounts that you’re already pursuing.

          div.mtl
            a.trial-btn.btn.btn-primary.btn-block.btn-full(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0)", data-location='filter-net-new') Request a Demo


  div.section
    div.container
      div.row.vertical-align
        div.col-xs-12.visible-xs-and-sm
          div.image-cell
            img(src="/img/product/prospect/similar_co.jpg", alt="Similar companies")

        div.col-md-6.col-xs-12
          div.text-cell
            h2 Quickly identify similar companies
            p Pinpoint new companies in your territory that resemble your best prospects and customers.

        div.col-md-6.hidden-xs-and-sm
          div.image-cell
            img(src="/img/product/prospect/similar_co.jpg", alt="Similar companies")


  div.section
    div.row.vertical-align
      div.col-md-6.col-xs-12.bg-blurred1
        div.image-cell.text-right
          img(src="/img/product/prospect/company_signal.png", alt="DataFox company signal")

      div.col-md-5.col-md-offset-1.col-xs-12
        div.text-cell
          h2 Get alerted to valuable company signals
          p Save a search to be the first to know when DataFox discovers a new prospect in your territory.

          div.mtxl
            div.mbm
              img(src='/img/customers/rainforestqa.png', height=60, alt='RainforestQA logo')
            p
              em “With all the new prospects that DataFox has uncovered, Rainforest QA was able to scale our outbound sales development team from 2 to 5 members.”

            div.quote
              div.img
                img(src="/img/product/signals/jake_biskar.jpg", alt="Jake Biskar", width=30, height=31)
              div.title
                em Jake Biskar, Head of Sales Development

  div.section
    div.container
      div.row.vertical-align
        div.col-xs-12.visible-xs-and-sm
          div.image-cell
            img(src="/img/product/prospect/contact_info.jpg", alt="Contact information card")

        div.col-md-6.col-xs-12
          div.text-cell
            h2 Unlock contact information
            p Save time and minimize guesswork by accessing phone and email information for contacts at target companies.

        div.col-md-6.col-xs-12.hidden-xs-and-sm
          div.image-cell
            img(src="/img/product/prospect/contact_info.jpg", alt="Contact information card")

  div.section
    div.row.vertical-align
      div.col-md-6.col-xs-12.bg-conference
        div.image-cell

      div.col-md-5.col-md-offset-1.col-xs-12
        div.text-cell
          h2 See which conferences your prospects are attending
          p DataFox tracks thousands of conferences and their participants. Use these insights to find new prospects, justify your trip, and book more meetings.

  div.section
    div.container
      div.row.vertical-align
        div.col-xs-12.visible-xs-and-sm
          div.image-cell
            img(src="/img/product/enrich/sync.jpg", alt="DataFox Salesforce Sync")

        div.col-md-6.col-xs-12
          div.text-cell
            h2 Sync everything to your CRM
            p Push contacts and accounts to Salesforce with one click and get alerted to possible duplicates.

            div.mtl
              a.btn.btn-primary.btn-block.btn-full(href="/tour/salesforce/", data-location='crm-signals') Learn More

        div.col-md-6.col-xs-12.hidden-xs-and-sm
          div.image-cell
            img(src="/img/product/enrich/sync.jpg", alt="DataFox Salesforce Sync")


  div.subfooter
    h2 Ditch the grunt work.
    p.mtl Get started with account-based prospecting.
    div.mtxl
      a.trial-btn.btn.btn-primary.btn-full(data-toggle="modal", data-target=".default-request-demo-modal", href="javascript:void(0)", data-location='prospect-subfooter') Request Free Trial
