div.container-fluid.signals-page

  div.header-section.pbm
    h2 The Most Advanced Radar for Business Signals
    h4.text-muted.mtxl DataFox identifies and delivers signals on the accounts that are most likely to drive your business forward.
    div.mtxl.ptl
      img(src="/img/product/signals/map.svg", alt="Map of the world showing company signals occurring everywhere", width="100%").bottom-border
    div.mvl
      img(src="/img/product/signals/stats.jpg", alt="DataFox Signals stats")


  div.section
    div.row.vertical-align
      div.col-md-6.col-xs-12.bg-blurred1.col-xs-12
        div.image-cell.text-right.align-middle-outer
          div.align-middle
            img(src="/img/product/signals/signals.png", alt="Data Integrity Report")

      div.col-md-5.col-md-offset-1.col-xs-12
        div.text-cell
          h2 Your days of missing valuable signals are over
          p DataFox aggregates 100,000+ new signals every week. Choose from 68 signal types to craft your own custom alerts.

          div.mtxl
            div.mbl
              img(src="/img/product/signals/managedbyqlogo.png", alt="Managed by Q Logo")
            p
              em “With DataFox we get the company buying signals which we need to effectively prospect, delivered in real-time.”

            div.quote
              div.img
                img(src="/img/product/signals/daniel_weitzenfeld.jpg", alt="Daniel Weitzenfeld", width=30, height=30)
              div.title
                em Daniel Weitzenfeld, VP of Data


  div.section
    div.container
      div.row.vertical-align
        div.col-xs-12.visible-xs-and-sm
          div.image-cell
            img(src="/img/product/signals/mobile_email.jpg", alt="DataFox daily and weekly alerts")

        div.col-md-6.col-xs-12
          div.text-cell
            div
              h4
                img(src="/img/product/signals/timeline.jpg", alt="Timeline icon").mrl
                | Monitor signal timelines on a company or list

              p View a complete timeline of signals from DataFox or Salesforce.


            div.mtxl
              h4
                img(src="/img/product/signals/bell.jpg", alt="Alarm bell icon").mrl
                | Receive daily or weekly alerts

              p Customize email alerts on relevant companies and signals.

            div.mtxl
              h4
                img(src="/img/product/signals/watch.jpg", alt="Watch icon").mrl
                | Get alerts in real-time
              p Get personalized signals in real-time with DataFox for Slack.

        div.col-md-6.col-xs-12.hidden-xs-and-sm
          div.image-cell.pbn
            img(src="/img/product/signals/mobile_email.jpg", alt="DataFox daily and weekly alerts")

  div.section
    div.row.vertical-align
      div.col-md-6.col-xs-12.bg-api
        div.image-cell

      div.col-md-5.col-md-offset-1.col-xs-12
        div.text-cell
          h2 Access the signals API
          p Query DataFox for 68 signal types on any company, like funding announcements, office openings, and more.

          div.mtl
            a.trial-btn.btn.btn-primary.btn-block.btn-full(data-toggle="modal", data-target=".api-modal", href="javascript:void(0)", data-location='request-api-access') Request API Access


  div.section
    div.container
      div.row.vertical-align
        div.col-xs-12.visible-xs-and-sm
          div.image-cell
            img(src="/img/product/signals/iframe.jpg", alt="DataFox Salesforce Sync")

        div.col-md-6.col-xs-12
          div.text-cell
            h2 Get signals in your CRM
            p See signals in Salesforce on accounts, leads, and contacts.

            div.mtl
              a.btn.btn-primary.btn-block.btn-full(href="/tour/salesforce/", data-location='crm-signals') Learn More

        div.col-md-6.hidden-xs-and-sm
          div.image-cell
            img(src="/img/product/signals/iframe.jpg", alt="DataFox Salesforce Sync")



  div.subfooter
    h2 Give context to your meaningless lead list.
    p.mtl Open more doors with signals.
    div.mtxl
      a.trial-btn.btn.btn-primary.btn-full(data-toggle="modal", data-target=".default-request-demo-modal", href="javascript:void(0)", data-location='signals-subfooter') Request Free Trial
