div.pbn.image-cell
	div.section-blog
		img(src="/img/use-case/slideshow/1.5.png", alt="DataFox daily and weekly alerts")
		h2
			|Get alerted to buyer behavior
		p Learn when accounts in your territory are showing signs of buying behavior.
		p Select from 68 categorized signals or create your own.
		h2.blog-btn
			a.btn.btn-bordered.active(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0);", data-location="sales-operation")
				h3
					strong Learn More
			a.btn.btn-bordered(href='#graph', data-location="sales-development",arial-control='graph',role='tab',data-toggle='tab') 
				h3
					stron Next