div.pbn.image-cell
	div.section-blog
		img(src="/img/use-case/slideshow/1.3.png", alt="DataFox daily and weekly alerts")
		h2
			|Unlock buyer contact information
		p Get emails and phone numbers for buyers at target accounts.
		h2.blog-btn
			a.btn.btn-bordered.active(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0);", data-location="sales-operation")
				h3
					strong Learn More
			a.btn.btn-bordered(href='#face-meeting', data-location="sales-development",arial-controls='face-meeting',role='tab',data-toggle='tab') 
				h3
					stron Next