div.pbn.image-cell
	div.section-blog
		img(src="/img/use-case/slideshow/face-to.png", alt="DataFox daily and weekly alerts")
		h2
			|Set more face-to-face meetings
		p Discover which conferences your prospects are participating in, or find new prospects by browsing conference intelligence.
		h2.blog-btn
			a.btn.btn-bordered.active(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0);", data-location="sales-operation")
				h3
					strong Learn More
			a.btn.btn-bordered(href='#alerted-behavior', data-location="sales-development",arial-control='alerted-behavior',role='tab',data-toggle='tab') 
				h3
					stron Next