div.pbn.image-cell
	div.section-blog
		img(src="/img/use-case/slideshow/actionable.png", alt="DataFox daily and weekly alerts")
		h2
			|Receive insights where they are actionable
		p SalesforceChromeGmailSlackAPIs
		h2.blog-btn
			a.btn.btn-bordered.active(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0);", data-location="sales-operation")
				h3
					strong Learn More
			a.btn.btn-bordered(href='#light', data-location="sales-development",arial-control='light',role='tab',data-toggle='tab') 
				h3
					stron Next