div.pbn.image-cell
	div.section-blog
		img(src="/img/use-case/slideshow/filterCompanies.png", alt="DataFox daily and weekly alerts")
		h2
			|Build a list of target accounts
		p Find every account in your territorry that meets your ICP which is not actively being worked or is not yet in Salesforce.
		img.rainforest(src="/img/use-case/customer-quotes/Layer-113.png")
		p.text-rainforest "With all the new prospects that DataFox has uncovered, Rainforest QA was able to scale our outbound sales development team from 2 to 5 members."
		h3.quoter
			img(src="/img/use-case/customer-quotes/jake b-circle.png")
			| -Jake Biskar, Head of Sales Development at Rainforest QA.
		h2.blog-btn
			a.btn.btn-bordered.active(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0);", data-location="sales-operation")
				h3
					strong Learn More
			a.btn.btn-bordered(href='#priority', data-location="sales-development", aria-controls='priority',role='tab',data-toggle='tab')
				h3
					stron Next
