div.pbn.image-cell
	img(src="/img/use-case/slideshow/1.2.png", alt="DataFox daily and weekly alerts")
	h2
		|Start every day with prioritized accounts
	p Combine firmographic data with relevant buying signals to effectively prioritize accounts to go after daily.
	h2.blog-btn
		a.btn.btn-bordered.active(data-toggle="modal", data-target=".request-demo-modal", href="javascript:void(0);", data-location="sales-operation")
			h3
				strong Learn More
		a.btn.btn-bordered(href='#contact', data-location="sales-development",arial-control='contact',role='tab',data-toggle='tab') 
			h3
				stron Next